
.details-container {
    flex-direction: column;
    display: flex;
    /* flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto; */
    padding: 0px 42px 0px 42px;
}

.title-header {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.location-details {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
}

.image-gallery {
    padding: 5px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    height: 520px;
}

.primary-image {
    padding: 5px;
    width: 50%;
    height: 100%;
}

.secondary-images {
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-columns: 1fr 1fr
}


.additional-image {
    width: 340px;
    height: 257px;

}

.info-section {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f8f8f8;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    width: 100%; */
    /* display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content:space-between;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05); */
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.hosting-details {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    margin-right: 90px;
    width: 75%;

}

.description-text {
    color: #333;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.reservation-info {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto; */
    /* padding: 15px;
    margin-right: 90px; */
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 15px;
    width: 26%;

}

.pricing-and-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFD700;
    padding: 20px;
    height: auto;
    width: 86%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .nightly-rate {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

  .star-rating-container {
    display: flex;
    /* align-items: center; */
  }
 .reserve-btn {
    padding: 21px;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    /* width: calc(115% - 40px); */
    width: 100%;
    font-size: 1.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .reserve-btn:hover {
    background-color: #e03150;
  }
  .reviews-container-bottom {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 100%;
  }



@media (max-width: 1024px) {

        /* .details-container {
          padding: 0 20px;
        } */

        .image-gallery {
          flex-direction: column;
          height: auto;
        }

        .primary-image,
        .additional-image {
          width: 100%;
          padding: 5px 0;
        }

        .secondary-images {
          grid-template-columns: 1fr;
        }

        .info-section {
          flex-direction: column;
          padding: 20px;
        }

        .hosting-details,
        .description-text {
          width: 100%;
          margin-right: 0;
        }

        .reservation-info {
          width: 100%;
          padding: 20px;
          margin-top: 20px;
        }

        .pricing-and-rating {
          flex-direction: column;
          width: 108%;
          padding: 20px;
        }

        .nightly-rate {
          font-size: 1rem;
          margin-bottom: 10px;
        }

        .star-rating-container {
          justify-content: center;
        }

        .reserve-btn {
          font-size: 0.8rem;
          padding: 15px;
        }

        .reviews-container-bottom {
          position: relative;
          bottom: auto;
          left: auto;
        }
      }
