.ManageSpot-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     margin: 20px;
}

.Title-container {
    margin-bottom: 20px;

}

.ManageSpot-title {
    font-size: 28px;
    color: #e79a0b;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    animation: titleGlow 2s infinite alternate;
    text-align: left;
    margin-left: 20px;

}
.Manage-container, Manage-container a {
    text-decoration: none !important;
}
.Create-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.Create-btn:hover {
    background-color: #0056b3;
}

.Spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.Spot-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}

.Manage-container{
    text-decoration: none;
}

.Spot-container {
    color: #333;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.Review-location-container {
    padding: 10px;
    background-color: #f8f9fa;
}

.location, .review, .price {
    margin: 5px 0;
}

.location {
    font-weight: bold;
}

.review {
    color: #ffc107;
}

.price {
    font-size: 18px;
    font-weight: bold;
}

.update-delete-container {
    padding: 10px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
}

.Update-btn, .Delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Update-btn {
    background-color: #28a745;
    color: white;
}

.Delete-btn {
    background-color: #dc3545;
    color: white;
}

.Update-btn:hover {
    background-color: #218838;
}

.Delete-btn:hover {
    background-color: #c82333;
}
